version: 2.1

jobs:
  config-validation:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: Check global config validity
          command: circleci config validate global-ci.yml
    
  deploy-config:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: TestTest
          command: |
            echo 'export GLOBAL_64="$(cat global-ci.yml | base64 -w 0)" ' >> $BASH_ENV
            source $BASH_ENV
            echo $GLOBAL_64
            while read -r destination
              do
                echo "export REPO=$(echo $destination | awk -F', ' '{print $1}')" >> BASH_ENV
                echo "export BRANCH=$(echo $destination | awk -F', ' '{print $2}')" >> BASH_ENV
                source BASH_ENV
                echo $REPO
                echo $BRANCH
                
                if [[ $(curl -s -w '%{response_code}' --output /dev/null --location --request GET "https://api.github.com/repos/$REPO/contents/.circleci/config.yml?ref=$BRANCH" --header "Authorization: token $GH_TOKEN" --header "Accept: application/vnd.github.v3+json") == 404 ]];
                  then
                    echo "Debug: the response is 404"
                    echo $REPO
                    echo $BRANCH
                    curl -X PUT https://api.github.com/repos/$REPO/contents/.circleci/config.yml -H "Authorization: token $GH_TOKEN" -H 'Accept: application/vnd.github.v3+json' -d '{"message":"Global config update","content":"'"$GLOBAL_64"'","branch":"'"${BRANCH}"'"}'
                  else
                    echo "Debug: the response is 200"
                    echo $REPO
                    echo $BRANCH
                    echo 'export BLOB_SHA=$(curl --location --request GET "https://api.github.com/repos/${REPO}/contents/.circleci/config.yml?ref=${BRANCH}" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json"|jq -r .sha)' >> $BASH_ENV
                    source $BASH_ENV
                    echo $BLOB_SHA
                    curl -X PUT https://api.github.com/repos/$REPO/contents/.circleci/config.yml --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" --data-raw '{"message":"Global config update","content":"'"${GLOBAL_64}"'","sha": "'"${BLOB_SHA}"'","branch":"'"$BRANCH"'"}'
                fi
              done < "satellites.txt"
      - run:
          name: Get commit infosss
          command: |
            echo << pipeline.git.revision >>
            # curl --location --request GET "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/commits" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" -d "sha: << pipeline.git.revision >>"
            git log  -n 1
          
workflows:
#  version: 2
  main:
    jobs:
      # - config-validation
      - deploy-config
          # requires:
            # - config-validation
