version: 2.1

orbs:
  continuation: circleci/continuation@0.1.2
  
setup: true

jobs:
  setup:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - continuation/continue:
          configuration_path: ".circleci/continuation-config.yml"

workflows:
  upflow:
    jobs:
      - setup
