version: 2.1

parameters:
  setup-workflow:
    type: boolean
    default: true

setup: true

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - run: echo "hi"
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run: echo "hi"

workflows:
  workflow-1:
    when:
      equal: [true, << pipeline.parameters.setup-workflow >>]
    jobs:
      - build
  workflow-2:
    when:
      equal: [true, << pipeline.parameters.setup-workflow >>]
    jobs:
      - build
      - deploy:
          requires:
            - build
  workflow-3:
    when:
      equal: [false, << pipeline.parameters.setup-workflow >>]
    jobs:
      - deploy
