version: 2.1

jobs:
  config-validation:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: Check global config validity
          command: circleci config validate global-ci.yml
    
  deploy-config:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: TestTest
          command: |
            echo GLOBAL_64=$(base64 -w 0 global-ci.yml) >> $BASH_ENV
            while read -r destination
              do
                IFS=", "
                echo "export REPO=$(awk '{ print $1}' < '$destination')" >> $BASH_ENV
                echo "export BRANCH=$(awk '{ print $2}' < '$destination')" >> $BASH_ENV
                source $BASH_ENV
                echo $REPO
                echo $BRANCH
                if [ "$(curl -s -w '%{response_code}' --output /dev/null --location --request GET "https://api.github.com/repos/$REPO/contents/.circleci/config.yml?ref=$BRANCH" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json")" -eq "404" ];
                  then
                    curl --location --request PUT "https://api.github.com/repos/$repo/contents/.circleci/config.yml" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" --data-raw "{\"message\":\"Global config update\", \"content\":\"$GLOBAL_64\"}"
                  else
                    echo "export BLOB_SHA=$(curl --location --request GET "https://api.github.com/repos/$REPO/contents/.circleci/config.yml?ref=$BRANCH" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json"|jq -r .sha)" >> $BASH_ENV
                    source $BASH_ENV
                    curl --location --request PUT "https://api.github.com/repos/$repo/contents/.circleci/config.yml" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" --data-raw "{\"message\":\"Global config update\", \"content\":\"$GLOBAL_64\", \"sha\":\"${BLOB_SHA}\"}"
                fi
              done < "satellites.txt"
      - run:
          name: Get commit info
          command: |
            echo << pipeline.git.revision >>
            # curl --location --request GET "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/commits" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" -d "sha: << pipeline.git.revision >>"
            git log  -n 1
          
workflows:
#  version: 2
  main:
    jobs:
      # - config-validation
      - deploy-config
          # requires:
            # - config-validation
