version: 2.1

orbs:
  central: orbiously/central-config-orb@dev:alpha
  
jobs:
  deploy-config:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - central/dispatch-config:
          config-to-deploy: global-ci.yml
          targets-list: satellites.json
          force-update: true

      - run:
          name: Get commit info
          command: |
            echo << pipeline.git.revision >>
            echo Hello
            # curl --location --request GET "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/commits" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" -d "sha: << pipeline.git.revision >>"
            git log  -n 1
workflows:
  main:
    jobs:
      # - config-validation:
      #     config-to-deploy: global-ci.yml
      - deploy-config
          # requires:
            # - config-validation
