version: 2.1

jobs:
  config-validation:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          name: Check global config validity
          command: circleci config validate global-ci.yml
    
  deploy-config:
    parameters:
      force-update:
        type: boolean
        default: false
      skip-targets-build:
        type: boolean
        default: true
      config-file:
        type: string
        default: global-ci.yml
      targets-list:
        type: string
        default: satellites.txt
    docker:
      - image: circleci/python
    steps:
      - checkout
      - when:
          condition: << parameters.skip-targets-build >>
          steps:
            - run:
                name: As per your parameters: No build on target-projects upon config push
                command: echo ' export MESSAGE="Global config update [skip ci]" ' >> BASH_ENV
      - unless:
          condition: << parameters.skip-targets-build >>
          steps:
            - run:
                name: As per your parameters: The global config update will trigger a build in the target-project
                command: echo ' export MESSAGE="Global config update" ' >> BASH_ENV
                
      - run:
          name: TestTest
          command: |
            echo 'export GLOBAL_64="$(cat << parameters.config-file >>l | base64 -w 0)" ' >> $BASH_ENV
            source $BASH_ENV
            echo $GLOBAL_64
            while read -r destination
              do
                echo "export REPO=$(echo $destination | awk -F', ' '{print $1}')" >> BASH_ENV
                echo "export BRANCH=$(echo $destination | awk -F', ' '{print $2}')" >> BASH_ENV
                source BASH_ENV
                echo $REPO
                echo $BRANCH
                
                if [[ $(curl -s -w '%{response_code}' --output /dev/null --location --request GET "https://api.github.com/repos/$REPO/contents/.circleci/config.yml?ref=$BRANCH" --header "Authorization: token $GH_TOKEN" --header "Accept: application/vnd.github.v3+json") == 404 ]];
                  then
                    echo "Debug: the response is 404"
                    echo $REPO
                    echo $BRANCH
                    curl -X PUT https://api.github.com/repos/$REPO/contents/.circleci/config.yml -H "Authorization: token $GH_TOKEN" -H 'Accept: application/vnd.github.v3+json' -d '{"message":"'"$MESSAGE"'","content":"'"$GLOBAL_64"'","branch":"'"${BRANCH}"'"}'
                  else
                    echo "Debug: the response is 200"
                    echo $REPO
                    echo $BRANCH
                    echo 'export BLOB_SHA=$(curl --location --request GET "https://api.github.com/repos/${REPO}/contents/.circleci/config.yml?ref=${BRANCH}" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json"|jq -r .sha)' >> $BASH_ENV
                    source $BASH_ENV
                    echo $BLOB_SHA
                    echo "Central config blob is $(git hash-object global-ci.yml)"
                      if [[ $(git hash-object global-ci.yml) != $BLOB_SHA ]] || [[ << parameters.force-update >> ]];
                        then
                          curl -X PUT https://api.github.com/repos/$REPO/contents/.circleci/config.yml --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" --data-raw '{"message":"'"$MESSAGE"'","content":"'"${GLOBAL_64}"'","sha": "'"${BLOB_SHA}"'","branch":"'"$BRANCH"'"}'
                        else
                          echo "Not pushing same version of the config file"
                      fi
                fi  
              done < << parameters.targets-list >>
      - run:
          name: Get commit infosss
          command: |
            echo << pipeline.git.revision >>
            # curl --location --request GET "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/commits" --header "Authorization: token ${GH_TOKEN}" --header "Accept: application/vnd.github.v3+json" -d "sha: << pipeline.git.revision >>"
            git log  -n 1
          
workflows:
#  version: 2
  main:
    jobs:
      # - config-validation
      - deploy-config:
          skip-targets-build: true
          force-update: true
          config-file: toto.txt
          # requires:
            # - config-validation
